@import '~universal/styles/variables.less';

.container {
  position: absolute;
  display: flex;

  top: 0;
  left: 0;
  right: 0;

  padding-left: 5*@base;
  padding-right: 5*@base;
  padding-top: 5*@base;

  align-items: center;
  justify-content: space-between;
}

.link {
  font-size: 16px;
  font-family: @header-font-family;
  font-weight: lighter;
}
