@import '~universal/styles/variables.less';

.container {
  display: flex;
  height: 10*@base;
  align-items: center;
  justify-content: space-between;
  padding-left: 5*@base;
  padding-right: 5*@base;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.link {
  font-size: 18px;
}
