@import '~universal/styles/mixins.less';

.logo {
	display: inline-block;
  width: 156px;
  height: 154px;
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  bottom: -100px;
  left: 25px;

  .retina-url('../../images/Logo.png', '../../images/Logo@2x.png');
}
