@import '~universal/styles/variables.less';
@import '~universal/styles/typography.less';

.container {
  position: fixed;
  overflow: hidden;
  background: @black;
  color: @white;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transition: transform 225ms ease-in;
}

.popUpClosed {
  // transition: opacity 200ms ease-out, transform 0ms linear 200ms;
  transform: translateY(100%);
  // opacity: 0;
}

.popUpOpen {
  transition: transform 225ms ease-in;
  transform: translateY(0%);
  // opacity: 1;
}

.closeLink {
  font-family: @body-font-family;
  top: 5*@base;
  right: 5*@base;
  position: absolute;

  &:hover {
    color: @red;
  }
}
