@import '~universal/styles/variables.less';
@import '~universal/styles/typography.less';

html, body {
  margin: 0;
  padding: 0;
  background: @white;
}

p, blockquote {
  padding: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
