@base: 10px;

@header-font-family: 'Poppins', 'sans-serif';
@body-font-family: 'Averia Serif Libre', 'serif';
@mono-font-family: 'Space Mono', 'monospace';

@font-size-large: 64px;

@black: #222222;
@white: #F7F8F5;

@red: #D26C6C;

@font-weight-normal: 400;
@font-weight-bold: 700;
@font-weight-light: 200;

@z-index-0: 0;
@z-index-1: 1;
@z-index-2: 2;
@z-index-3: 3;
@z-index-4: 4;
