@import '~universal/styles/variables.less';
@import '~universal/styles/typography.less';

.content {
  position: relative;
  z-index: @z-index-1;
  min-height: 100vh;

  padding-left: 5*@base;
  padding-right: 5*@base;
}

.contentWrapper {
  padding-top: 10*@base;
  padding-bottom: 5*@base;
  display: flex;
}

.titleType {
  margin-top: 5*@base;
}

.titleLink {
  .link;
}

.flexContent {
  flex: 1;
}

.styledContent {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 5*@base;
  padding-left: 2.5*@base;

  ul {
    padding-top: 1.5*@base;

    li {
      margin-left: 2*@base;
      list-style-type: disc;
      font-size: 15px;
    }
  }
}

.bottomContentBorder {
  margin: 5*@base 0;
  display: block;
}

.bottomTagList {
  margin-bottom: 5*@base;
  > li {
    display: inline-block;
    margin-right: 1.5*@base;
  }
}

.subTitle {
  font-size: 18px;
}

.description {

  p {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 17px;
    line-height: 1.6em;
  }
}

.media {
  position: relative;
  margin: 10*@base 0;

  > div {
    margin: 0 auto;
  }

  >  .mediaVideo {
    margin-top: 10*@base;
  }

}


.phoneMedia {
  position: absolute;
  top: 90px;
  right: 15%;
  z-index: @z-index-2;
}

.columnContainer {
  display: flex;
}
.columnTwo {
  margin-top: 20*@base;
}
